<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
                <a href="/admin"
                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <ul><span class="fs-5 d-none d-sm-inline fw-bold text-decoration-underline">Admin Pannel</span></ul>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="/admin/dashBoard?time=1" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-clipboard-data-fill"></i> <span
                                class="ms-1 d-none d-sm-inline">Dash Board</span></a>
                    </li>
                    <li>
                        <a href="/admin/allOrders" class="nav-link text-light px-0 align-middle my-3 px-4 rounded-pill"
                            style="width: 220px;background-color:blue">
                            <i class="fs-4 bi-box-seam-fill"></i> <span class="ms-1 d-none d-sm-inline">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/allProducts" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-list-ul"></i> <span class="ms-1 d-none d-sm-inline ">All Products</span></a>
                    </li>
                    <li>
                        <a href="/admin/manageCatagory" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Manage Catagories</span></a>
                    </li>
                    <li>
                        <a href="/admin/allUsers" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Manage Users</span></a>
                    </li>

                    <li>
                        <a href="/admin/report?ext=0" class="nav-link text-dark text-primary px-0 align-middle">
                            <i class="fs-4 bi-receipt-cutoff"></i> <span class="ms-1 d-none d-sm-inline">Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/cupon" class="nav-link px-0 text-dark align-middle">
                            <i class="fs-4 bi-receipt"></i> <span class="ms-1 d-none d-sm-inline">Cupons</span> </a>
                    </li>
                    <li>
                        <a href="/admin/offers" class="nav-link text-dark text-primary px-0 align-middle">
                            <i class="bi bi-percent"></i> <span class="ms-1 d-none d-sm-inline">Offers</span>
                        </a>
                    </li>
                    <li><a class="text-danger nav-link px-0 align-middle" href="/admin/logout"> <i
                                class="bi bi-box-arrow-left"></i> Signout</a></li>
                </ul>
                <hr>

            </div>
        </div>
        <div class="col py-3">
            <p class="fw-bold text-success fs-2 text-center text-decoration-underline">All Orders</p>
            <section class="p-5">
                {{#if error}}
                <div class="alert alert-danger" role="alert">
                    The action is invalid!..
                </div>
                {{/if}}
                <table class="table" id="table_id">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Products</th>
                            <th scope="col">Status</th>
                            <th scope="col">Total</th>
                            <th scope="col">User</th>
                            <th scope="col">Date</th>
                            <th scope="col">Address</th>
                            <th scope="col">Oprion</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>{{inc @index}}</td>
                            <td>
                                <p>
                                    {{#each this.products}}
                                    {{this.product.productName}} <br>
                                    {{/each}}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{this.status}}
                                </p>
                            </td>
                            <td>{{this.totalPrice.[0].total}}</td>
                            <td>{{this.userName}}</td>
                            <td>{{this.date}}</td>
                            <td>
                                <p>{{this.userEmail}}


                                </p>

                            </td>
                            <td><a href="/admin/viewOrderDetails/{{this._id}}" class="btn btn-primary">view details</a>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </section>


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>