<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
                <a href="/admin"
                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <ul><span class="fs-5 d-none d-sm-inline fw-bold text-decoration-underline">Admin Pannel</span></ul>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="/admin/dashBoard?time=1" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-clipboard-data-fill"></i> <span class="ms-1 d-none d-sm-inline">Dash
                                Board</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/allOrders" class="nav-link text-dark align-middle px-0">
                            <i class="fs-4 bi-box-seam-fill"></i> <span class="ms-1 d-none d-sm-inline">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/allProducts" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-list-ul"></i> <span class="ms-1 d-none d-sm-inline">All
                                Products</span></a>
                    </li>
                    <li>
                        <a href="/admin/manageCatagory" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Manage
                                Catagories</span></a>
                    </li>
                    <li>
                        <a href="/admin/allUsers" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Manage Users</span></a>
                    </li>

                    <li>
                        <a href="/admin/report?ext=0" class="nav-link text-dark text-primary px-0 align-middle">
                            <i class="fs-4 bi-receipt-cutoff"></i> <span class="ms-1 d-none d-sm-inline">Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/cupon" class="nav-link text-light px-0 align-middle my-3 px-4 rounded-pill"
                            style="width: 220px;background-color:blue">
                            <i class="fs-4 bi-receipt"></i> <span class="ms-1 d-none d-sm-inline">Cupons</span> </a>
                    </li>
                    <li>
                        <a href="/admin/offers" class="nav-link text-dark text-primary px-0 align-middle">
                            <i class="bi bi-percent"></i> <span class="ms-1 d-none d-sm-inline">Offers</span>
                        </a>
                    </li>
                    <li><a class="text-danger nav-link px-0 align-middle" href="/admin/logout"> <i
                                class="bi bi-box-arrow-left"></i> Signout</a></li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <p class="fw-bold text-success fs-2 text-center text-decoration-underline">All Cupons</p>
            <a href="/admin/addcupon" class="btn btn-primary">add cupon</a>

            <section>
                <table class="table" id="table_id">
                    <thead class="bg-primary">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Offer Name</th>
                            <th scope="col">Offer Rate</th>
                            <th scope="col">Cupon Code</th>
                            <th scope="col">Aplicable Amount</th>
                            <th scope="col">Maximum Amount</th>
                            <th scope="col">Option's</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cupons}}
                        <tr>
                            <th scope="row">{{inc @index}}</th>
                            <td>{{this.offerName}}</td>
                            <td>{{this.offerRate}}</td>
                            <td>{{this.cuponCode}}</td>
                            <td>{{this.amountAplicable}}</td>
                            <td>{{this.maxAmount}}</td>
                            <td>
                                <a onclick="editCupon('{{this._id}}')" class="btn btn-primary"><i
                                        class="bi bi-pencil-square"></i></a>
                                <a onclick="deleteCupon('{{this._id}}')" class="btn btn-danger"><i
                                        class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </section>



        </div>
    </div>
</div>

<script>
    function editCupon(id) {
        swal({
            title: "Are you sure?",
            text: "Do you want to edit this file!.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    location.href = '/admin/editCupon?cuponId=' + id
                } else {
                    swal("Your file is safe!");
                }
            });

    }
    function deleteCupon(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    location.href = '/admin/deleteCupon?cuponId=' + id
                } else {
                    swal("Your file is safe!");
                }
            });

    }
    $(document).ready(function () {
        $('#table_id').DataTable();
    });

</script>