<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
                <a href="/admin"
                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <ul><span class="fs-5 d-none d-sm-inline fw-bold text-decoration-underline">Admin Pannel</span></ul>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="/admin/dashBoard?time=1" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-clipboard-data-fill"></i> <span class="ms-1 d-none d-sm-inline">Dash
                                Board</span></a>
                    </li>
                    <li>
                        <a href="/admin/allOrders" class="nav-link text-light px-0 align-middle my-3 px-4 rounded-pill"
                            style="width: 220px;background-color:blue">
                            <i class="fs-4 bi-box-seam-fill"></i> <span class="ms-1 d-none d-sm-inline">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/allProducts" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-list-ul"></i> <span class="ms-1 d-none d-sm-inline ">Products</span></a>
                    </li>
                    <li>
                        <a href="/admin/manageCatagory" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Catagories</span></a>
                    </li>
                    <li>
                        <a href="/admin/allUsers" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span></a>
                    </li>

                    <li>
                        <a href="/admin/report?ext=0" class="nav-link text-dark text-primary px-0 align-middle">
                            <i class="fs-4 bi-receipt-cutoff"></i> <span class="ms-1 d-none d-sm-inline">Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/cupon" class="nav-link px-0 text-dark align-middle">
                            <i class="fs-4 bi-receipt"></i> <span class="ms-1 d-none d-sm-inline">Cupons</span> </a>
                    </li>
                    <li>
                        <a href="/admin/offers" class="nav-link text-dark text-primary px-0 align-middle">
                            <i class="bi bi-percent"></i> <span class="ms-1 d-none d-sm-inline">Offers</span>
                        </a>
                    </li>
                    <li><a class="text-danger nav-link px-0 align-middle" href="/admin/logout"> <i
                                class="bi bi-box-arrow-left"></i> Signout</a></li>
                </ul>
                <hr>

            </div>
        </div>
        <div class="col py-3">

            <section>
                <section>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Image</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Offer</th>
                                <th scope="col">Offer Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Total Offer</th>
                                <th scope="col">Status</th>
                                <th scope="col">Option</th>
                                <th scope="col">Cancel</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each order.products}}
                            <tr>
                                <th scope="row">{{inc @index}}</th>
                                <td><img src="{{this.product.images.[0]}}" alt="" width="50px"></td>
                                <td>{{this.product.productName}}</td>
                                <td><i class="bi bi-currency-rupee"></i>{{this.product.price}}</td>
                                <td>{{this.product.activeOffer}}%</td>
                                <td><i class="bi bi-currency-rupee"></i>{{this.product.offerPrice}}</td>
                                <td>{{this.quantity}}</td>
                                <td><i class="bi bi-currency-rupee"></i>{{add this.quantity this.product.price}}</td>
                                <td><i class="bi bi-currency-rupee"></i>{{add this.quantity this.product.offerPrice}}
                                </td>
                                <td>{{this.status}}</td>
                                <td>
                                    {{#if this.activeStatus}}
                                    {{#if this.isDelivered}}
                                    <p class="text-success">product is delivered</p>
                                    {{else}}
                                    {{#if this.isShipped}}
                                    <button onclick="deliverProd('{{this.item}}')"
                                        class="btn btn-primary">Deliver</button>
                                    {{else}}
                                     <button onclick="shipProd('{{this.item}}')" class="btn btn-primary">Ship</button>
                                    {{/if}}
                                    {{/if}}
                                    {{else}}
                                    <p class="text-danger">invalid</p>
                                    {{/if}}
                                   
                                    
                                </td>
                                <td>
                                    {{#if this.activeStatus}}
                                    {{#if this.isDelivered}}
                                    <p class="text-danger">cannot be canceled</p>
                                    {{else}}
                                    <button onclick="cancelProd('{{this.item}}','{{this.quantity}}')"
                                        class="btn btn-danger">Cancel</button>
                                    {{/if}}
                                    {{else}}
                                    <p class="text-danger">order is invalid</p>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                            <div id="orderId" hidden>{{order._id}}</div>
                            <div id="userId" hidden>{{order.userEmail}}</div>
                        </tbody>
                    </table>
                </section>
                <section class="d-flex mt-5">
                    <div class="bg-light border p-3 px-5">
                        <h5>ADDRESS</h5>
                        <P>{{order.userName}}</P>
                        <p>{{order.deleveryDetails.userName}},{{order.deleveryDetails.phnumber}},{{order.deleveryDetails.pin}},
                            <br>
                            {{order.deleveryDetails.hname}},{{order.deleveryDetails.state}},{{order.deleveryDetails.lmk}},{{order.deleveryDetails.town}},
                            <br>
                            {{order.deleveryDetails.region}}<br>

                        </p>
                        <hr>

                    </div>
                    <div class="ms-auto me-4 w-25">
                        <p> PAYMENT DETAILS</p>
                        <P></P>
                        <table class="table table-bordered">
                            <tr>
                                <td> PRICE</td>
                                <td><i class="bi bi-currency-rupee"></i>{{order.firstPrice}}</td>
                            </tr>
                            <tr>
                                <td>DISCOUNT</td>
                                <td>{{order.discountRate}}%</td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td><i class="bi bi-currency-rupee"></i>{{order.totalPrice.[0].total}}</td>
                            </tr>
                        </table>
                    </div>
                </section>
            </section>
            <section class="container my-3">
                <a href="/admin" class="btn btn-primary">view all orders</a>
                {{#if order.orderValidity}}
                <a href="/admin/delever/{{order._id}}" class="btn btn-success"
                    onclick="return confirm('are you sure to deliver?')">deliver</a>

                <a href="/admin/ship/{{order._id}}" class="btn btn-success"
                    onclick="return confirm('are you sure to ship?')">ship</a>

                <a href="/admin/removeOrder/{{order._id}}" class="btn btn-danger"
                    onclick="return confirm('are you sure to cansel?')">cancel order</a>
                {{/if}}
            </section>


        </div>
    </div>
</div>



<script>
    function cancelProd(prod, qnty) {
        let orderId = document.getElementById('orderId').innerText
        let user = document.getElementById('userId').innerText
        $.ajax({
            url: '/admin/cancelProduct',
            method: 'post',
            data: {
                order: orderId,
                prodId: prod,
                quantity: qnty,
                email: user,
            },
            success: (response) => {
                location.reload()
            }

        })
    }
    function shipProd(prod) {
        let orderId = document.getElementById('orderId').innerText
        $.ajax({
            url: '/admin/shipProduct',
            method: 'post',
            data: {
                prodId: prod,
                order: orderId
            },
            success: (response) => {
                location.reload()
            }
        })
    }
    function deliverProd(prod) {
        let orderId = document.getElementById('orderId').innerText
        $.ajax({
            url: '/admin/deliverProduct',
            method: 'post',
            data: {
                order: orderId,
                prodId: prod
            },
            success: (response) => {
                location.reload()
            }
        })
    }
</script>





{{!-- <section class="mt-5">
    {{>user-footer}}
</section> --}}