<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light shadow-sm me-5">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
                <a href="/admin"
                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <ul><span class="fs-5 d-none d-sm-inline fw-bold text-decoration-underline">Admin Pannel</span></ul>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="/admin/dashBoard?time=1" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-clipboard-data-fill"></i> <span class="ms-1 d-none d-sm-inline">dash
                                board</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/allOrders" class="nav-link text-dark align-middle px-0">
                            <i class="fs-4 bi-box-seam-fill"></i> <span class="ms-1 d-none d-sm-inline">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/allProducts" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-list-ul"></i> <span class="ms-1 d-none d-sm-inline">All
                                Products</span></a>
                    </li>
                    <li>
                        <a href="/admin/manageCatagory" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Manage
                                catagories</span></a>
                    </li>
                    <li>
                        <a href="/admin/allUsers" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Manage users</span></a>
                    </li>

                    <li>
                        <a href="/admin/report?ext=0"
                            class="nav-link text-light px-0 align-middle my-3 px-4 rounded-pill"
                            style="width: 220px;background-color:blue">
                            <i class="fs-4 bi-receipt-cutoff"></i> <span class="ms-1 d-none d-sm-inline">report</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/cupon" class="nav-link text-dark px-0 align-middle">
                            <i class="fs-4 bi-receipt"></i> <span class="ms-1 d-none d-sm-inline">cupons</span> </a>
                    </li>
                    <li>
                        <a href="/admin/offers" class="nav-link text-dark text-primary px-0 align-middle">
                            <i class="bi bi-percent"></i> <span class="ms-1 d-none d-sm-inline">offers</span>
                        </a>
                    </li>
                    <li><a class="text-danger nav-link px-0 align-middle" href="/admin/logout"> <i
                                class="bi bi-box-arrow-left"></i> Sign out</a></li>
                </ul>
                <hr>

            </div>
        </div>
        <div class="col py-3">
            <section class="contain">
                <p class="text-center mt-5 fs-1 fw-bold text-success">sales report</p>
                <div>
                    <div class="row">
                        <div class="col-md-2 mb-2">
                            <div class="form-outline">
                                <input name="productName" type="date" id="startDate"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="firstName">from</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="form-outline">
                                <input name="productName" type="date" id="endDate"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="firstName">to</label>
                            </div>
                        </div>
                        <div>
                            <div class="btn btn-primary" onclick="(filterDate())">submit</div>
                        </div>
                    </div>
                </div>
                <p>
                    <button id="generatePDF" class="btn btn-success me-3">generate PDF</button>
                    <button id="export" class="btn btn-success me-3">Export</button>
                </p>
                <section class="border">
                    <div id="htmlContent">
                        <div>
                            <h2 class="text-center fw-bold ">order report</h2>
                        </div>
                        <div>
                            <table class="table" id="table">
                                <tbody>
                                    <tr>
                                        <td>#</td>
                                        <td>type</td>
                                        <td>numbers</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>total sales</td>
                                        <td id="ts"> {{data.totalSalesAmount}} </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>total orders delivered</td>
                                        <td id="tod">{{data.delivered}}</td>

                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>total orders placed</td>
                                        <td id="top"> {{data.placed}}</td>

                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>orders shipped</td>
                                        <td id="os"> {{data.shipped}} </td>

                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>orders canceled</td>
                                        <td id="oc"> {{data.cancel}} </td>

                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>all orders</td>
                                        <td id="ao"> {{data.allOrders}} </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>cash orders</td>
                                        <td id="co"> {{data.codOrders}} </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>no of users</td>
                                        <td id="nou"> {{data.user}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">select date</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Close</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

                {{!-- <div class="mt-5">
                    <a href="/user/allOrders">all orders</a>

                </div> --}}

            </section>
            <script>
                var doc = new jsPDF();
                var specialElementHandlers = {
                    '#editor': function (element, renderer) {
                        return true;
                    }
                };

                //margins.left, // x coord   margins.top, { // y coord
                $('#generatePDF').click(function () {
                    doc.fromHTML($('#htmlContent').html(), 15, 15, {
                        'width': 700,
                        'elementHandlers': specialElementHandlers
                    });
                    doc.save('sample_file.pdf');
                });
                $(document).ready(function () {
                    $('#export').on('click', function (e) {
                        $("#table").table2excel({
                            exclude: ".noExl",
                            name: "Worksheet Name",
                            filename: "SomeFile",

                        });
                    });
                });
                function filterDate() {
                    let start = document.getElementById('startDate').value
                    let end = document.getElementById('endDate').value
                    if (start == "") {
                        
                        
                    } else if (end == "") {
                       
                    } else if (start > end) {
                        
                    } else {
                        $.ajax({

                            url: "/admin/filterReport",
                            data: {
                                start,
                                end,
                            },
                            method: 'post',
                            success: (response) => {
                                document.getElementById('ts').innerText = response.data.totalSalesAmount;
                                document.getElementById('tod').innerText = response.data.delivered;
                                document.getElementById('top').innerText = response.data.placed;
                                document.getElementById('os').innerText = response.data.shipped;
                                document.getElementById('oc').innerText = response.data.cancel;
                                document.getElementById('ao').innerText = response.data.allOrders;
                                document.getElementById('co').innerText = response.data.codOrders;
                                document.getElementById('nou').innerText = response.data.user;

                            }
                        })
                    }

                }
            </script>


        </div>
    </div>
</div>