<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light shadow-sm me-5">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
                <a href="/admin"
                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <ul><span class="fs-5 d-none d-sm-inline fw-bold text-decoration-underline">Admin Pannel</span></ul>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="/admin/dashBoard?time=1" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-clipboard-data-fill"></i> <span class="ms-1 d-none d-sm-inline">Dash
                                Board</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/allOrders" class="nav-link text-dark align-middle px-0">
                            <i class="fs-4 bi-box-seam-fill"></i> <span class="ms-1 d-none d-sm-inline">Orders</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/allProducts" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-list-ul"></i> <span class="ms-1 d-none d-sm-inline">All
                                Products</span></a>
                    </li>
                    <li>
                        <a href="/admin/manageCatagory" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Manage
                                Catagories</span></a>
                    </li>
                    <li>
                        <a href="/admin/allUsers" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Manage Users</span></a>
                    </li>

                    <li>
                        <a href="/admin/report?ext=0"
                            class="nav-link text-light px-0 align-middle my-3 px-4 rounded-pill"
                            style="width: 220px;background-color:blue">
                            <i class="fs-4 bi-receipt-cutoff"></i> <span class="ms-1 d-none d-sm-inline">Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/cupon" class="nav-link text-dark px-0 align-middle">
                            <i class="fs-4 bi-receipt"></i> <span class="ms-1 d-none d-sm-inline">Cupons</span> </a>
                    </li>
                    <li>
                        <a href="/admin/offers" class="nav-link text-dark text-primary px-0 align-middle">
                            <i class="bi bi-percent"></i> <span class="ms-1 d-none d-sm-inline">Offers</span>
                        </a>
                    </li>
                    <li><a class="text-danger nav-link px-0 align-middle" href="/admin/logout"> <i
                                class="bi bi-box-arrow-left"></i> Signout</a></li>
                </ul>
                <hr>

            </div>
        </div>
        <div class="col py-3">
            <section class="contain">
                <p class="text-center mt-5 fs-1 fw-bold text-success">Sales Report</p>
                <div>
                    <div class="row">
                        <div class="col-md-1 mb-2">
                            <a href="/admin/report?frame=1" class="btn btn-primary">Today</a>
                        </div>
                        <div class="col-md-1">
                            <a href="/admin/report?frame=7" class="btn btn-primary">Week</a>
                        </div>
                        <div class="col-md-1">
                            <a href="/admin/report?frame=30" class="btn btn-primary">month</a>
                        </div>
                        <div class="col-md-1">
                            <a href="/admin/report?frame=365" class="btn btn-primary">year</a>
                        </div>

                        <div class="col-md-2 mb-2 ">

                            <div class="form-outline">
                                <input name="start" type="date" id="startDate" class="form-control form-control-lg" />
                                <label class="form-label" for="firstName">From</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="form-outline">
                                <input name="end" type="date" id="endDate" class="form-control form-control-lg" />
                                <label class="form-label" for="firstName">To</label>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">

                            <div class="btn btn-primary" onclick="(filterDate())">Submit</div>

                        </div>



                    </div>
                </div>
                <p>
                    <button id="generatePDF" class="btn btn-success me-3">generate PDF</button>
                    <button id="export" class="btn btn-success me-3">Export</button>
                </p>
                <section class="border">
                    <div id="htmlContent">
                        <div>
                            <h2 class="text-center fw-bold ">order report</h2>
                        </div>
                        <div class="px-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th >#</th>
                                        <th >Order Id</th>
                                        <th >User Name</th>
                                        <th >Email</th>
                                        <th>Total</th>
                                        <th>Order Date</th>
                                        <th>Discount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <th >{{inc @index}}</th>
                                        <td>{{this._id}}</td>
                                        <td>{{this.userName}}</td>
                                        <td>{{this.userEmail}}</td>
                                        <td>{{this.totalPrice.[0].total}}</td>
                                        <td>{{this.date}}</td>
                                        <td>{{this.discountRate}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        

                    </div>
                </section>

                {{!-- <div class="mt-5">
                    <a href="/user/allOrders">all orders</a>

                </div> --}}

            </section>
            <script>
                var doc = new jsPDF();
                var specialElementHandlers = {
                    '#editor': function (element, renderer) {
                        return true;
                    }
                };

                //margins.left, // x coord   margins.top, { // y coord
                $('#generatePDF').click(function () {
                    doc.fromHTML($('#htmlContent').html(), 15, 15, {
                        'width': 700,
                        'elementHandlers': specialElementHandlers
                    });
                    doc.save('sample_file.pdf');
                });
                $(document).ready(function () {
                    $('#export').on('click', function (e) {
                        $("#table").table2excel({
                            exclude: ".noExl",
                            name: "Worksheet Name",
                            filename: "SomeFile",

                        });
                    });
                });
                function filterDate() {
                    let start = document.getElementById('startDate').value
                    let end = document.getElementById('endDate').value
                    if (start == "") {


                    } else if (end == "") {

                    } else if (start > end) {

                    } else {
                        $.ajax({

                            url: "/admin/filterReport",
                            data: {
                                start,
                                end,
                            },
                            method: 'post',
                            success: (response) => {
                                document.getElementById('ts').innerText = response.data.totalSalesAmount;
                                document.getElementById('tod').innerText = response.data.delivered;
                                document.getElementById('top').innerText = response.data.placed;
                                document.getElementById('os').innerText = response.data.shipped;
                                document.getElementById('oc').innerText = response.data.cancel;
                                document.getElementById('ao').innerText = response.data.allOrders;
                                document.getElementById('co').innerText = response.data.codOrders;
                                document.getElementById('nou').innerText = response.data.user;

                            }
                        })
                    }

                }
            </script>


        </div>
    </div>
</div>