<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">{{user.Name}}</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">


          <li>
            <a href="/user" class="nav-link text-white px-0 align-middle">
              <i class="fs-4 bi-person-circle"></i>
              <span class="ms-1 d-none d-sm-inline">USER</span></a>
          </li>
          <li class="nav-item">
            <a href="/user/cart" class="nav-link text-white align-middle px-0">
              <i class="fs-4 bi-cart3"></i>
              <span class="ms-1 d-none d-sm-inline">CART</span>
            </a>
          </li>
          <li>
            <a href="/user/wishlist" class="nav-link text-white px-0 align-middle">
              <i class="fs-4 bi-heart-fill"></i>
              <span class="ms-1 d-none d-sm-inline">WISHLIST</span></a>
          </li>
          <li>
            <a href="/user/allOrders" class="nav-link text-light px-0 align-middle my-3 px-4 rounded-pill"
              style="width: 220px;background-color:blue">
              <i class="fs-4 bi-clipboard-data-fill"></i> <span class="ms-1 d-none d-sm-inline">ORDERS</span></a>
          </li>
          <li>
            <a href="/user/wallet" class="nav-link text-white px-0 align-middle">
              <i class="fs-4 bi bi-wallet2"></i>
              <span class="ms-1 d-none d-sm-inline">WALLET</span>
            </a>
          </li>
        </ul>


      </div>
    </div>
    <div class="col py-3">

      <section>
        <table class="table" id="table_id">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product</th>
              <th scope="col">Status</th>
              <th scope="col">Total</th>
              <th scope="col">Date</th>
              <th scope="col">Payment</th>
              <th>Options</th>

            </tr>
          </thead>
          <tbody>
            {{#each orders}}
            <tr>
              <td>{{inc @index}}</td>
              <td>
                <p>
                  {{#each this.products}}
                  {{this.product.productName}} <br>
                  {{/each}}
                </p>
              </td>
              <td>
                <p>
                  {{this.status}}
                </p>
              </td>
              <td>{{this.totalPrice.[0].total}}</td>
    
              <td>{{this.date}}</td>
              <td>
                <p>{{this.paymentMethod}}</p>
              </td>
              <td><a href="/user/viewOrderDetails/{{this._id}}" class="btn btn-primary">view details</a>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#table_id').DataTable();
  });
</script>