<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">{{user.Name}}</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="/user" class="nav-link text-white align-middle px-0">
              <i class="fs-4 bi-person-circle"></i>
              <span class="ms-1 d-none d-sm-inline">USER</span>
            </a>
          </li>

          <li>
            <a href="/user/cart" class="nav-link text-light px-0 align-middle my-3 px-4 rounded-pill"
              style="width: 220px;background-color:blue">
              <i class="fs-4 bi-cart3"></i> <span class="ms-1 d-none d-sm-inline">CART</span></a>
          </li>
          <li>
            <a href="/user/wishlist" class="nav-link text-white px-0 align-middle">
              <i class="fs-4 bi-heart-fill"></i>
              <span class="ms-1 d-none d-sm-inline">WISHLIST</span></a>
          </li>
          <li>
            <a href="/user/allOrders" class="nav-link text-white px-0 align-middle">
              <i class="fs-4 bi-clipboard-data-fill"></i>
              <span class="ms-1 d-none d-sm-inline">ORDERS</span>
            </a>
          </li>
        </ul>


      </div>
    </div>
    <div class="col py-3">
      <p class="fw-bold text-success fs-2 text-center">CART</p>
      <section>
        <table class="table" id="table_id">
          <thead>
            <tr>
              <th scope="col">SiNo.</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            {{#each
            prod
            }}

            <tr>
              <th scope="row">{{inc
                @index
                }}</th>
              <th><img src="{{this.product.images.[0]}}" class="card-img-top" alt="..."
                  style="margin:0 auto; width: 50px;height: 50px;" /></th>
              <td>{{this.product.productName}}</td>
              <td>{{this.product.offerPrice}}</td>
              <td>
                <button class="btn btn-primary"
                  onclick="chageQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                <span id="{{this.product._id}}">{{this.quantity}}
                </span>
                <button class="btn btn-primary" onclick="chageQuantity('{{this._id}}','{{this.product._id}}',1)"
                  id="plus">+</button>
              </td>
              {{!-- <td>{{this.price}}</td> --}}
              <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class="bi bi-trash"></i>
                </button>
            </tr>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Product From Cart</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <span class="text-danger">Are you sure you want to remove the product from cart!..</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger"
                      onclick="removeProduct('{{this._id}}','{{this.product._id}}')">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}

          </tbody>
        </table>
        <hr />
        <div class="mx-5 px-5">
          <div class="float-end">
            {{#each
            total
            }}
            <h5>
              totalproce=
              <span id="total">{{this.total}}</span>Rs
            </h5>
            {{/each}}
            <a href="/user/checkout" class="btn btn-primary float-end">
              check
              out</a>
          </div>

        </div>

      </section>

    </div>
  </div>
</div>

<script>
  function
    chageQuantity(cartId, prodId, count) {
    let quantity = parseInt(document.getElementById(prodId).innerHTML)

    if (quantity == 10 && count == -1) {
      checker = true
    } else if (quantity < 10) {
      checker = true
    } else if (quantity == 10 && count == 1) {
      checker = false
    }

    if (checker) {
      count = parseInt(count)
      $.ajax({
        url: "/user/changeProductQuantity",
        data: {
          cart: cartId,
          product: prodId,
          count: count,
          quantity: quantity
        }, method: 'post',
        success:
          (response) => {
            if (response.removeProduct) {
              location.reload()
            } else {
              document.getElementById(prodId).innerHTML = quantity + count

            }
          }
      })
    } else {
      Toastify({
        text: "maximum no of products is 10",
        duration: 3000,
        newWindow: true,
        close: true,
        gravity: "top", // `top` or `bottom`
        position: "center", // `left`, `center` or `right`
        stopOnFocus: true, // Prevents dismissing of toast on hover
        style: {
          background: "linear-gradient(to right, #00b09b, #96c93d)",
        },
        onClick: function () { } // Callback after click
      }).showToast();

    }

  }

</script>
<script>
  function removeProduct(cartId, prodId) {
    $.ajax({
      url: "/user/removeFromCart",
      data: {
        cart: cartId,
        product: prodId,
      },
      method: 'post',
      success: (response) => {
        location.reload()
        


      }
    })
  }
</script>