<form action="/user/checkout" id="checkoutForm">
  <section class="container ">

  </section>
  <section class="container d-flex">
    <div class="col-md-5 w-50 h-100 px-5 mx-5 mt-3">
      <label for="">select your address line</label>


      {{#each address}}

      <div class="form-check form-check">
        <input name="addressline" class="form-check-input" type="radio" name="inlineRadioOptions" id="addres"
          value="{{this._id}}" checked>
        <label class="form-check-label" for="inlineRadio1">
          {{this.userName}},{{this.phnumber}},{{this.pin}}, <br>
          {{this.hname}},{{this.region}},{{this.lmk}}, <br>
          {{this.town}},{{this.state}} <button onclick="editaddress(event,'{{this._id}}')" class="btn btn-primary">
            <i class="bi bi-pencil-square"></i>
          </button>

        </label>
      </div>



      {{/each}}


      <a href="/user/addAddress" class="btn btn-primary"> add an address</a>
      {{#if error}}
      <div class="alert alert-danger" role="alert">
        Please select an address!
      </div>
      {{/if}}
      <div id="editAddresNow">

      </div>

    </div>
    <div class="m-5 bg-light w-50 h-100 p-5">
      {{#each total}}
      <p>total amount: <span>{{this.total}}</span>Rs<br>
        discount: <span id="discount">0</span> <br>
        final: <span id="final">{{this.total}}</span>
      </p>
      <p></p>

      {{/each}}
      <hr />
      <h3>choose payment option</h3>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="payment" id="inlineRadio1" value="cod" checked />
        <label class="form-check-label" for="inlineRadio1">cod</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="payment" id="inlineRadio2" value="razopay" />
        <label class="form-check-label" for="inlineRadio2">razo</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="payment" id="inlineRadio2" value="paypal" />
        <label class="form-check-label" for="inlineRadio2">paypal</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="payment" id="inlineRadio2" value="wallet" />
        <label class="form-check-label" for="inlineRadio2">wallet</label>
      </div>
      <div class="form-check">
        <input class="" type="text" name="cupon" id="cupon" />
        <div class="btn btn-success" onclick="applycupon('{{total.[0].total}}')">apply</div>
        <label class="form-check-label" for="cupon">enter your cupon code</label>

      </div>
      <input class="invisible" type="text" name="userId" id="" value="{{user._id}}">
      <button type="submit" class="btn btn-primary mt-5">proceed</button>
    </div>

  </section>

</form>
<section class="footer">
  <div class="r">
    <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
      <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
        <div class="me-5">
          <span>* This is a trial websit that is made as a personal project please donot make any
            transactions..</span>
        </div>
        <div>
          <a href="https://www.facebook.com/natsu.av" target="_blank" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/Amalvin54535076" target="_blank" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>

          <a href="https://www.instagram.com/_extream_bencher/" target="_blank" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/amal-vinod-5454511a0/" target="_blank" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/amalvinodb" target="_blank" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Tech Park</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                This is a websit that i made using nodejs as my server side language.
                Using mongodb as my database which is a nosql database. This is my very
                first complete website with db and a serverside language. hbs was used as
                a view engine. i did not use any fornt end stack.
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Navigation</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="/allProducts" class="text-white">All Products</a>
              </p>
              <p>
                <a href="/" class="text-white">Home</a>
              </p>

            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Menu</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="/user" class="text-white">Profile</a>
              </p>
              <p>
                <a href="/user/cart" class="text-white">Cart</a>
              </p>
              <p>
                <a href="/user/wishlist" class="text-white">Wishlist</a>
              </p>
              <p>
                <a href="/user/allOrders" class="text-white">Orders</a>
              </p>
              <p>
                <a href="/user/logout" class="text-danger">logout</a>
              </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p><i class="fas fa-home mr-3"></i> Thodupuzha,Idukki,Kerala</p>
              <p><i class="fas fa-envelope mr-3"></i> amalvinodb2000@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> +918157876820</p>
              <p><i class="fas fa-print mr-3"></i> +918136909633</p>
            </div>
          </div>
        </div>
      </section>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
    </footer>
  </div>
</section>
{{!-- {{>user-footer}} --}}

<script>
  function editAddress(event, order) {
    event.preventDefault()
    var username = document.getElementById('userName').value
    var phone = document.getElementById('phnumber').value
    var pin = document.getElementById('pin').value
    var house = document.getElementById('hname').value
    var region = document.getElementById('region').value
    var lmk = document.getElementById('lmk').value
    var town = document.getElementById('town').value
    var state = document.getElementById('state').value
    $.ajax({
      url: '/user/editAddress',
      method: 'post',
      data: {
        username: username,
        phnumber: phone,
        pin: pin,
        hname: house,
        region: region,
        lmk: lmk,
        town: town,
        state: state,
        orderId: order,
      },
      success: (responce) => {
        console.log(responce);
        location.reload()
      }
    })
  }
  $('#checkoutForm').submit((e) => {

    e.preventDefault()
    try {
      let adr = document.getElementById("addres").value
      $.ajax({
      url: '/user/checkout',
      method: 'post',
      data: $('#checkoutForm').serialize(),
      success: (responce) => {

        if (responce.success == true) {

          location.href = '/user/orderSucess?order=' + responce.order._id
        } else if (responce.route == 'pal') {

          console.log('paypal')
          location.href = responce.serc
        } else if (responce.route == 'razo') {
    
          let amount1 = responce.amount
          console.log("pay", amount1)
          var options = {
            "key": "rzp_test_PRPUFdPJGUsqx2", // Enter the Key ID generated from the Dashboard
            "amount": amount1, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "tech park",
            "description": "payment for purchase",
            "image": "https://example.com/your_logo",
            "order_id": responce.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {

              verifyPayment(response, responce)
            },
            "prefill": {
              "name": responce.userdata.userName,
              "email": responce.userdata.userEmail,
              "contact": responce.userdata.userPhone,
            },
            "notes": {
              "address": "Razorpay Corporate Office"
            },
            "theme": {
              "color": "#3399cc"
            }

          };
          var rzp1 = new Razorpay(options);
          rzp1.open();
        } else if (responce.route == 'wallet') {
          if (responce.resp) {
            location.href = "/user/orderSucess?order=" + responce.id
          } else {
            Toastify({
              text: "Insufficient wallet balance",
              duration: 3000,
              newWindow: true,
              close: true,
              gravity: "top", // `top` or `bottom`
              position: "center", // `left`, `center` or `right`
              stopOnFocus: true, // Prevents dismissing of toast on hover
              style: {
                background: "linear-gradient(to right, #00b09b, #96c93d)",
              },
              onClick: function () { } // Callback after click
            }).showToast();
          }

        }
      }
    })
    } catch {
      location.href = '/user/checkout?error=true'
    }

    
  })
  function verifyPayment(payment, responce) {
    
    $.ajax({
      url: '/user/verify-payment',
      data: {
        payment,
        responce
      },
      method: 'post',
      success: (responce) => {
        console.log(responce, "hello")
        if (responce.status) {
          location.href = '/user/orderSucess?order=' + responce.order
        } else {

          console.log("order failed")
        }

      }
    })
  }
  function applycupon(total) {

    let code = document.getElementById("cupon").value

    $.ajax({
      url: '/user/applyCupon',
      data: {
        total,
        code,
      },
      method: 'post',
      success: (responce) => {

        if (responce.rate != 0) {
          Toastify({
            text: "cupon have been applied",
            duration: 3000,
            newWindow: true,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "left", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
            onClick: function () { } // Callback after click
          }).showToast();
        } else {
          Toastify({
            text: "cupon cannot be applied",
            duration: 3000,
            newWindow: true,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "left", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
            onClick: function () { } // Callback after click
          }).showToast();
        }

        document.getElementById("discount").innerText = responce.rate
        document.getElementById("final").innerText = responce.final
      }
    })
  }
</script>