<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">{{user.Name}}</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="/user" class="nav-link text-white align-middle px-0">
              <i class="fs-4 bi-person-circle"></i>
              <span class="ms-1 d-none d-sm-inline">user</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/cart" class="nav-link text-white align-middle px-0">
              <i class="fs-4 bi-cart3"></i>
              <span class="ms-1 d-none d-sm-inline">cart</span>
            </a>
          </li>

          <li>
            <a href="/user/wishlist" class="nav-link text-light px-0 align-middle my-3 px-4 rounded-pill"
              style="width: 220px;background-color:blue">
              <i class="fs-4 bi-heart-fill"></i> <span class="ms-1 d-none d-sm-inline">wishlist</span></a>
          </li>
          <li>
            <a href="/user/allOrders" class="nav-link text-white px-0 align-middle">
              <i class="fs-4 bi-clipboard-data-fill"></i>
              <span class="ms-1 d-none d-sm-inline">Orders</span>
            </a>
          </li>
        </ul>


      </div>
    </div>
    <div class="col py-3">

      <section>
        <table class="table" id="table_id">
          <thead>
            <tr>
              <th scope="col">sino.</th>
              <th scope="col">image</th>
              <th scope="col">name</th>
              <th scope="col">price</th>
              <th scope="col">quantity</th>

            </tr>
          </thead>
          <tbody>
            {{#each
            prod
            }}

            <tr>

              <th scope="row">{{inc
                @index
                }}</th>

              <th><img src="{{this.product.images.[0]}}" class="card-img-top" alt="..."
                  style="margin:0 auto; width: 50px;height: 50px;" /></th>
              <td>{{this.product.productName}}</td>
              <td>{{this.product.offerPrice}}</td>
              <td> <button onclick="addToCart('{{this.product._id}}')" class="btn btn-success"><i
                    class="bi bi-cart3"></i></button></td>

              {{!-- <td>{{this.price}}</td> --}}
              <td><a class="btn btn-danger" onclick="removeProduct('{{this._id}}','{{this.product._id}}')"
                  role="button">Delete</a></td>

            </tr>

            {{/each}}

          </tbody>
        </table>
   


      </section>
      
    </div>
    
  </div>
</div>




<script>
  function removeProduct(cartId, prodId) {
    $.ajax({
      url: "/user/removeFromWishlist",
      data: {
        wish: cartId,
        product: prodId,
      },
      method: 'post',
      success: (response) => {

        location.reload()
      }
    })
  }


  $(document).ready(function () {
    $('#table_id').DataTable();
  });
</script>